<div id="grid-view" class="container-fluid" [hidden]="!isVisible">
  <div *ngFor="let row of rowsRange" class="row">
    <div *ngFor="let column of columnsRange" class="col-sm-3">
      <app-game-template *ngIf="getGameAt(row, column) != null" [game]="getGameAt(row, column)"></app-game-template>
    </div>
  </div>
</div>
