<div *ngFor="let game of games" id="list-view" class="container-fluid" [hidden]="!isVisible">
  <div class="row">
    <div class="col-sm-12">
      <app-game-template [game]="game"></app-game-template>
    </div>
  </div>
</div>
