@primary-color: #9D939E;
@secondary-color: #FF9000;
@body-background-color: #F7F6F2;
@third-color: #EEEEEE;
@font-color: #666;
@font-size: 15px;
@game-template-padding: 2;
@game-template-color: #EEEEEE;
@sidebar-width: 250;

body {
    background: @body-background-color;
    color: @font-color;
    font-size: @font-size;
}


#top-bar {
    background: #FFFFFF;
    border-bottom: 1px solid @third-color;
    
    .navbar-nav {
	li {
	    a {
		color: @primary-color;
		font-weight: bold;    

		&:hover {
		    color: @secondary-color;
		}
	    }
	}
    }

    .navbar-right {
	margin-right: 0;
    }

    .form-control, .btn {
	background: none;
	border: none;
	outline: 0;
	box-shadow: none;
    }

    .btn {
	margin: 0;
	color: @primary-color;
	
	&:hover {
	     color: @secondary-color;
	}

	.glyphicon {
	    margin-top: 5px;
	}
    }

    .btn.selected {
	color: @secondary-color;
    }

    #search-bar {
	background: #F9F9F7;
	border: 1px solid @primary-color;
	border-radius: 0;
	padding: 0;	
    }
}

#grid-view {
    .row {
	margin-bottom: 30px;
    }
    
    .game-template.grid-view {
	background: @game-template-color;
	border: 1px solid @third-color;
	position: relative;
	height: 200px;
	margin: 0 auto;

	.game-image {
	    width: 100%;
	    height: 100%;
	}

	.game-title {
	    position: absolute;
	    width: 100%;
	    display: block;
	    background: #FFFFFF;
	    padding: 10px 20px;
	    bottom: 0;
	    z-index: 1;
	}
    }
}

#list-view {
    .game-template.list-view {
	.game-title {
	    color: @primary-color;
	    font-weight: bold;
	}
    }
}



#sidebar {
    position: fixed;
    width: unit(@sidebar-width, px);
    height: 100%;
    left: 0;

    .nav-navbar {
	position: fixed;
	width: unit(@sidebar-width, px);
	height: 100%;

	li {
	    a {
		color: @primary-color;
		font-weight: bold;

		&:hover {
		    color: @secondary-color;
		}
	    }
	}
    }
}


