<div id="search-bar" class="navbar-form navbar-left">
  <button type="submit" class="btn btn-default" (click)="search()">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <div class="form-group">
    <input class="form-control" placeholder="Search" [(ngModel)]="keywords" (ngModelChange)="setSearchKeywords($event)">
  </div>     
</div>
