<app-top-bar></app-top-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9">
      <app-grid-view></app-grid-view>
      <app-list-view></app-list-view>
    </div>    
  </div>
</div>

