<!-- Sidebar -->
<div id="sidebar">
  <div class="container-fluid">
    <ul class="nav nav-navbar">
      <li *ngFor="let gameCategory of gameCategories">
	<a href="#" (click)="getGamesByCategory(gameCategory.id)">
	  <span>{{ gameCategory.name }}</span>
	</a>
      </li>
    </ul>
  </div>
</div>
