<!-- Grid View Template -->
<div class="game-template grid-view" [hidden]="!isGridViewMode">
  <input type="hidden" value="{{game.id}}">
  <img class="game-image" src="{{game.imageUrl}}">
  <span class="game-title">{{game.name}}</span>
</div>

<!-- List View Template -->
<div class="game-template list-view" [hidden]="isGridViewMode">
  <span class="game-title">{{game.name}}</span>
</div>
