<nav id="top-bar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-left">
      <app-search-bar></app-search-bar>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
	<li><a href="#" (click)="sortByPopularity($event)">Popularity</a></li>
	<li><a href="#" (click)="sortAlphabetically($event)">Alphabetically</a></li>
      </ul>
      <button class="btn btn-default btn-lg navbar-btn" (click)="toggleGridView($event)" [ngClass]="isGridViewMode ? 'selected' : ''">
	<span class="glyphicon glyphicon-th"></span>
      </button>
      <button class="btn btn-default btn-lg navbar-btn" (click)="toggleListView($event)" [ngClass]="!isGridViewMode ? 'selected' : ''">
	<span class="glyphicon glyphicon-align-justify"></span>
      </button>
    </div>
  </div>
</nav>
